@import "tailwindcss";
/* Custom Scrollbar with Brand Color */
/* Styling the scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Even thinner scrollbar */
  height: 5px; /* For horizontal scrollbar */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f5f9; /* Light gray track */
  border-radius: 10px;
}

/* Handle (the part that the user drags) */
::-webkit-scrollbar-thumb {
  background: #3b82f6; /* Blue color */
  border-radius: 10px;
}

/* Handle when hovered */
::-webkit-scrollbar-thumb:hover {
  background: #2563eb; /* Darker blue on hover */
}

  
  /* brand color */
  
  .brand-color-bg {
    background-color: #3b82f6; /* Your Brand Color �� */
  }
  /* text color */
  .text-color {
    color: #1a202c; /* Dark Gray Text Color */
  }

  /* border color */
  .border-color {
    border-color: #3b82f6; /* Your Brand Color �� */
  }

  /* background color */
  .bg-color {
    background-color: #f1f5f9; /* Light Gray Background Color */
  }

  /* hover background color */
  .bg-color:hover {
    background-color: #e2e8f0; /* Lighter Gray Background Color on Hover */
  }

  /* button color */
  .button-color {
    background-color: #3b82f6; /* Your Brand Color �� */
    color: #f1f5f9; /* White Text Color */
  }

  /* button hover color */
  .button-color:hover {
    background-color: #2563eb; /* Darker blue on Hover */
    color: #f1f5f9; /* White Text Color */
  }
